
<ion-content>
  <div class="container-fluid px-0 ">
    <div >
  
      <div class="bg-blue border-0 p-2  position-relative text-center " style="margin-bottom:12%;    border-bottom-left-radius: 2.5rem;  border-bottom-right-radius: 2.5rem;height: 160px;">
        <div class=" text-white p-3">
          <h5 class="m-0 text-left"> Password Change </h5>
        </div>
        <div class="">
          <div class="text-center pb-4">
            <p class="m-0 text-white">Hello,</p>
            <h5 class="m-0 text-white">{{name}}</h5>
          </div>
        </div>
          <div class="text-center mx-auto   position-static w-100" style="  top: 0px;">
            <img src="./assets/image/male.svg" alt="male" width="60" height="60" class="mx-auto position-relative shadow rounded-circle" style="top:-20px;">
          </div>
        </div>
  
      <div class="card">
        <div class="card-body">
          <form #passwordForm="ngForm" (ngSubmit)="changePassword(passwordForm.value)">
            <div class="w-100">
              <div class="my-4">
                  <input type="password" class="w-100 rounded-pill p-2 border px-4" style="outline: none;" placeholder="Old Password" ngModel name="oldPassword" required>
              </div>
              <div class="my-4">
                  <input type="password" class="w-100 rounded-pill p-2 border px-4" style="outline: none;" placeholder="New Password" ngModel name="password" required >
              </div>
              <div class="my-4">
                  <input type="password" class="w-100 rounded-pill p-2 border px-4" style="outline: none;" placeholder="Confirm Password" ngModel name="confirmPassword" required>
              </div>
          </div>
          <div class="my-4 w-100">
            <button type="submit" [disabled]="passwordForm.invalid" data-bs-toggle="modal" data-bs-target="#passwordModal" class="rounded-pill w-100 p-2 btn-sm btn btn-primary">Change Password</button>
        </div>
          </form>
        </div>
              <!-- otp modal -->
              <div class="modal fade" id="passwordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Varify your account</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form (ngSubmit)="varifyOtp(otpform.value)" #otpform="ngForm">
                      <div class="modal-body">
                          <div class="">
                            <p *ngIf="!otpResponse">Sending OTP... </p>
                            <p *ngIf="otpResponse">OTP sent </p>
                          </div>
                          <div class="border p-2 my-4" >
                            <label>Enter the OTP sent your registered mobile number</label>
                            <input type="number" name="otp" ngModel class="w-100 border-0 " required>
                          </div>
                          <div class="border p-2 my-4" >
                            <p *ngIf="this.time">Resend otp in {{time}}</p>
                            <label *ngIf="!this.time">Did not get otp? </label>
                            <button type="button" *ngIf="!this.time" class="text-blue btn" (click)="changePassword(this.passwordPayload)">Resend</button>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" [disabled]="otpform.invalid" class="btn btn-primary btn-block w-100">Varify</button>
                      </div>
  
                    </form>
  
                  </div>
                </div>
              </div>
               <!-- otp modal -->
      </div>
    </div>
  
  </div>
  
</ion-content>
