.text-grey{
    color: #878787;
  }
  .text-left{
    text-align: left;
  }
  .text-right{
    text-align: right;
  }
  .nounderline{
    text-decoration: none;
  }
  .route:hover{
    color: #036de4;
  }
  .orderHeadings{
    color: black;
    font-size: 14px;
  font-weight: 500;
  }
  
  .detailsFont{
    font-size: 12px;
  }
  