
<ion-app>
  <!-- <ion-header class="bg-myndia-primary">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->
  <app-navbar></app-navbar>
  <ion-split-pane contentId="main-content" style="margin-top:56px ;">

    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" class="pt-0">
          <ion-list-header>
            <a (click)="openModal()" *ngIf="!isLoggedIn()"
            class="text-myndia-primary">Login</a>
          </ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note>
          
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label class="px-4">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle auto-hide="false" *ngIf="isLoggedIn()">
            <ion-item routerDirection="root"  lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'power-outline'" [md]="'power-outline'"></ion-icon>
              <ion-label class="px-4">Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
    
  </ion-split-pane>
</ion-app>
