.text-grey{
    color: #878787;
  }
  .text-left{
    text-align: left;
  }
  .text-right{
    text-align: right;
  }
  .nounderline{
    text-decoration: none;
  }
  
  .orderHeadings{
    color: black;
    font-size: 14px;
  font-weight: 500;
  }
  .topP{
    font-size: 0.8rem;
  }
  
  .font-weight-bold{
    font-weight: bold;
  }
  .bg-orange{
      background-color: #fb641b;
  }
  input{
    outline: none;
    border-radius: 0.5rem;
  }
  