<section class=" {{this.open?'active':''}}">
  <div class="inner_cat">
      <!-- <div class="catheader bg-blue">
          <a (click)="open = false">
              <i class="fas fa-chevron-left"></i>&nbsp; Go back
          </a>
      </div> -->
      <div class="category">
          <div class="card cardFull border-0" *ngFor="let item of outerCategory" [routerLink]="['/',item.outer_Category_name.split(' ').join('-')]" [queryParams]="{outCid:item.outCid}">
              <img [src]="item.out_cat_image? baseUrl+item.out_cat_image : '../../assets/image/dummy-product_2.png'" alt="" >
              <p>{{item.outer_Category_name | titlecase}}</p>
          </div>
      </div>
  </div>

</section>
