
<ion-content>
  <div class="container-fluid px-0 ">
    <div >
      <div class="bg-blue text-white p-3">
        <h5 class="m-0">My Profile</h5>
      </div>
      <!-- basic account settings -->
      <div class="p-2">
        <div class="d-flex flex-row bd-highlight ">
          <div class="p-2 bd-highlight">
             <i class="far fa-user-circle text-grey"></i>
          </div>
          <div class="p-2 bd-highlight">
            <h6 class="text-grey">ACCOUNT SETTINGS</h6>
          </div>
        </div>
        <div class="">
          <a href="/accountSettings" class="nounderline text-dark">
            <div class="card">
              <div class="card-body py-0 px-1">
                <div class="d-flex justify-content-between">
                  <div class="p-2 bd-highlight">Account Information</div>
                  <div class="p-2 bd-highlight">
                    <i class="fas fa-chevron-right text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="">
          <a href="/accountAddress" class="nounderline text-dark">
            <div class="card">
              <div class="card-body py-0 px-1">
                <div class="d-flex justify-content-between">
                  <div class="p-2 bd-highlight">Manage Address</div>
                  <div class="p-2 bd-highlight">
                    <i class="fas fa-chevron-right text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="">
          <a href="/accountPassword" class="nounderline text-dark">
            <div class="card">
              <div class="card-body py-0 px-1">
                <div class="d-flex justify-content-between">
                  <div class="p-2 bd-highlight">Change Password</div>
                  <div class="p-2 bd-highlight">
                    <i class="fas fa-chevron-right text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="">
          <a href="/accountPAN" class="nounderline text-dark">
            <div class="card">
              <div class="card-body py-0 px-1">
                <div class="d-flex justify-content-between">
                  <div class="p-2 bd-highlight">PAN Card Information</div>
                  <div class="p-2 bd-highlight">
                    <i class="fas fa-chevron-right text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="">
          <a href="/accountBankDetails" class="nounderline text-dark">
            <div class="card">
              <div class="card-body py-0 px-1">
                <div class="d-flex justify-content-between">
                  <div class="p-2 bd-highlight">Bank Details</div>
                  <div class="p-2 bd-highlight">
                    <i class="fas fa-chevron-right text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- order  settings -->
      <div class="p-2">
  
        <div class="">
          <a href="/accountOrders" class="nounderline text-dark">
            <div class="card">
              <div class="card-body py-0 px-1">
                <div class="d-flex justify-content-between">
                  <div class="p-2 bd-highlight">My Orders</div>
                  <div class="p-2 bd-highlight">
                    <i class="fas fa-chevron-right text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
  
      <!-- payment account settings -->
      <div class="p-2">
  
        <!-- <div class="">
          <a href="/accountGiftCard" class="nounderline text-dark">
            <div class="card">
              <div class="card-body py-0 px-1">
                <div class="d-flex justify-content-between">
                  <div class="p-2 bd-highlight">Gift Cards</div>
                  <div class="p-2 bd-highlight">
                    <i class="fas fa-chevron-right text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div> -->
      </div>
  
      <!-- my stuff -->
      <!-- <div class="p-2">
        <div class="d-flex flex-row bd-highlight ">
          <div class="p-2 bd-highlight">
             <i class="fas fa-user-alt text-grey"></i>
          </div>
          <div class="p-2 bd-highlight">
            <h6 class="text-grey">MY STUFF</h6>
          </div>
        </div>
        <div class="">
          <a href="/accountCoupons" class="nounderline text-dark">
            <div class="card">
              <div class="card-body py-0 px-1">
                <div class="d-flex justify-content-between">
                  <div class="p-2 bd-highlight">My Coupons</div>
                  <div class="p-2 bd-highlight">
                    <i class="fas fa-chevron-right text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="">
          <a href="/accountNotification" class="nounderline text-dark">
            <div class="card">
              <div class="card-body py-0 px-1">
                <div class="d-flex justify-content-between">
                  <div class="p-2 bd-highlight">My Notifications</div>
                  <div class="p-2 bd-highlight">
                    <i class="fas fa-chevron-right text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="">
          <a href="/accountReviewRating" class="nounderline text-dark">
            <div class="card">
              <div class="card-body py-0 px-1">
                <div class="d-flex justify-content-between">
                  <div class="p-2 bd-highlight">My Ratings</div>
                  <div class="p-2 bd-highlight">
                    <i class="fas fa-chevron-right text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="">
          <a href="/accountWishlist" class="nounderline text-dark">
            <div class="card">
              <div class="card-body py-0 px-1">
                <div class="d-flex justify-content-between">
                  <div class="p-2 bd-highlight">My Wishlist</div>
                  <div class="p-2 bd-highlight">
                    <i class="fas fa-chevron-right text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div> -->
    </div>
  </div>
  
</ion-content>
