
<ion-content>
  <div class="container-fluid px-0 pb-6  bg-light">
    <div  style="padding-bottom: 55px !important;">
      <div class="bg-blue text-white p-3">
        <h5 class="m-0">Order Overview</h5>
      </div>
      <div class="">
        <div class="d-flex justify-content-center">
           <div class="p-2 bd-highlight ">
             <div class="rounded-circle border border-primary bg-success text-center  navigation mx-auto " >
               <i class="fas fa-check text-center text-white"></i>
             </div>
             <p class="text-center topP">Address</p>
           </div>
           <div class="p-2 bd-highlight w-20">
             <img src="./assets/image/dotted_line.svg" alt="" class="w-100 h-100">
           </div>
  
           <div class="p-2 bd-highlight ">
             <div class="rounded-circle border border-primary bg-primary navigation mx-auto" >
               <p class="topP m-0 text-center text-white">2</p>
             </div>
             <p class="text-center topP">Summary</p>
           </div>
           <div class="p-2 bd-highlight w-20">
             <img src="./assets/image/dotted_line.svg" alt="" class="w-100 h-100">
           </div>
  
           <div class="p-2 bd-highlight">
             <div class="rounded-circle border border-primary mx-auto  navigation" >
               <p class="topP m-0 text-center text-primary">3</p>
             </div>
             <p class="text-center topP">Payment</p>
           </div>
        </div>
      </div>
      <div class="card my-2">
        <div class="card-body"  *ngFor="let cartProducts of listCart">
          <div class="d-flex justify-content-between">
            <div class=" bd-highlight textWrap">
              <p class="w-100 m-0">{{cartProducts.p_name}}</p>
              <span>{{cartProducts.attribute_name}}  </span> <span class="px-1">{{cartProducts.cust_attr_value}}</span>
              <span class="pl-2 text-grey detailsFont">
                <span>Color  </span> <span class="px-1">{{cartProducts.color}}</span>
              </span>
              <p class="topP text-grey m-0"> Seller: <span class="px-1">{{cartProducts.sellar_name}}</span></p>
              <h6 class=" m-0">Rs {{cartProducts.total_price_after_tax}}</h6>
            </div>
            <div class="p-2 bd-highlight w-50">
              <img src="{{this._ApiServiceService.baseImgUrl}}/productImages{{cartProducts.productImg.imgurl}}"  alt="" style=" height:112px;object-fit: contain;" class="w-100" >
              <!-- <div class="my-2 w-50 mx-auto border text-center">
                <span class="topP ">Qty:</span>
                <span>
                  {{cartProducts.qty}}
                </span>
              </div> -->
              <div class="d-flex flex-row bd-highlight ">
                <div class="px-2 bd-highlight">
  
                  <button [disabled]="cartProducts.qty==1" class="btn  rounded-pill outline-none border-0 p-0"
                    id="minus" (click)="minusqty(cartProducts.qty,cartProducts.order_id,cartProducts.msn)">
                    <i class="fas fa-minus-circle text-danger"></i>
                  </button>
                </div>
                <div class="px-2 bd-highlight">
                  <span class="text-grey  px-2" id="quantity">{{cartProducts.qty}}</span>
                </div>
                <div class="px-2 bd-highlight">
                  <button (click)="addingqty(cartProducts.qty,cartProducts.order_id,cartProducts.msn)"
                    class="btn  rounded-pill outline-none border-0 p-0" id="plus">
                    <i class="fas fa-plus-circle text-success"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card my-2">
        <div class="card-header bg-white">
          <p class="text-grey topP m-0">PRICE DETAILS</p>
        </div>
        <div class="card-body"  *ngFor="let price of  totalPricings">
          <div class="">
            <div class="d-flex justify-content-between">
              <div class="p-2 bd-highlight text-left">
                <p class="m-0 topP">Price ({{price.length}} item)</p>
              </div>
              <div class="p-2 bd-highlight text-right">
                <p class="m-0 topP">Rs {{(price.totalOriginalPrice).toFixed(0)}}</p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="d-flex justify-content-between" *ngIf="price.totalDiscount>0">
              <div class="p-2 bd-highlight text-left">
                <p class="m-0 topP">Discount</p>
              </div>
              <div class="p-2 bd-highlight text-right">
                <p class="m-0 topP text-success ">-Rs {{(price.totalDiscount).toFixed(0)}}</p>
              </div>
            </div>
          </div>
          <!-- <div class="text-right">
            <div class="d-flex justify-content-between">
              <div class="p-2 bd-highlight">
                <p class="m-0 topP">Dilevery Charges</p>
              </div>
              <div class="p-2 bd-highlight">
                <p class="m-0 topP text-success">FREE</p>
              </div>
            </div>
          </div> -->
          <div class="card-footer bg-white">
            <div class="">
              <div class="d-flex justify-content-between ">
                <div class="p-2 bd-highlight text-left">
                  <p class="m-0 topP font-weight-bold">Total Amount</p>
                </div>
                <div class="p-2 bd-highlight text-right">
                  <p class="m-0 topP font-weight-bold">Rs {{(price.totalPrice).toFixed(0) }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer bg-white">
            <p class="font-weight-bold topP text-success">You will save Rs {{(price.totalDiscount).toFixed(0)}} on this order</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <footer class="bg-white shadow" style="z-index: 10000;">
  
    <div class="px-2">
      <div class="d-flex justify-content-between">
        <div class="p-2 bd-highlight text-left">
          <h6 class="m-0"> Rs {{(this.totalPricings[0]?.totalPrice ).toFixed(0) }}</h6>
          <p class="mb-0"><a class="text-primary" data-bs-toggle="modal" data-bs-target="#priceModal">View Price Detail</a></p>
  
        </div>
        <div class="p-2 bd-highlight text-right">
          <button (click)="this._ApiServiceService.paymentplaceOrder()" class="btn shadow continueButton text-white">Continue</button>
        </div>
      </div>
    </div>
  </footer>
  
  
  
   <!-- price model box -->
   <div class="modal fade" id="priceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 10000;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg m-0 h-100" >
      <div class="modal-content"  style="position:absolute;bottom:0;margin:0;width:100%;">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="exampleModalLabel">Price detail</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="totalPricings[0]">
  
          <div class="card my-2">
            <div class="card-header bg-white">
              <p class="text-grey topP m-0">PRICE DETAILS</p>
            </div>
            <div class="card-body">
              <div class="">
                <div class="d-flex justify-content-between">
                  <div class="p-2 bd-highlight text-left">
                    <p class="m-0 topP">Price ({{totalPricings[0]?.length}}) items</p>
                  </div>
                  <div class="p-2 bd-highlight text-right">
                    <p class="m-0 topP">Rs {{(totalPricings[0].totalOriginalPrice).toFixed(0)}}</p>
                  </div>
                </div>
              </div>
              <div class=""  *ngIf="totalPricings[0].totalDiscount">
                <div class="d-flex justify-content-between">
                  <div class="p-2 bd-highlight text-left">
                    <p class="m-0 topP">Discount</p>
                  </div>
                  <div class="p-2 bd-highlight text-right">
                    <p class="m-0 topP text-success ">-Rs {{(totalPricings[0].totalDiscount).toFixed(0) }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer bg-white">
              <div class="">
                <div class="d-flex justify-content-between ">
                  <div class="p-2 bd-highlight text-left">
                    <p class="m-0 topP font-weight-bold">Total Amount</p>
                  </div>
                  <div class="p-2 bd-highlight text-right">
                    <p class="m-0 topP font-weight-bold">Rs {{ (totalPricings[0].totalPrice).toFixed(0) }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer bg-white">
              <p *ngIf="totalPricings[0].totalDiscount" class="font-weight-bold topP text-success">You will save Rs {{(totalPricings[0].totalDiscount).toFixed(0)}} on this order</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end model box -->
  
</ion-content>
